body{

    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{

    width:100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.Modifier{

    display: none;
}